<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

	{% if page.url == '/work/research/' %}
		<meta name="robots" content="noindex,nofollow">		
	{% endif %}
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} — Wes Carr</title>

	<!-- SEO Tags -->
	<meta property="og:title" content="{{ title or renderData.title or metadata.title }}"/>
	<meta property="og:url" content="{{ page.url }} "/>
	<meta property="og:description" content="{{ description or renderData.description }} "/>
	<meta property="og:image" content="/img/social-thumbnail.jpg" />

    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">

	<!-- fonts -->
	<link href="https://api.fontshare.com/v2/css?f[]=erode@600,601,401,400&f[]=cabinet-grotesk@500&display=swap" rel="stylesheet"> 

	
    <link rel="icon" href="/img/favicon.ico">
	<link rel="icon" href="/img/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

  </head>

	<body class="{{ title }}">
  	<a class="skip-link nav-tab" href='#main'>Skip to content</a>
		<header class="mast">
			<nav aria-label="Main" class="theme--dark">

				<div class="site-logo">
					<a href="/">
						<img src="/img/mount.svg" alt="cartoon mountain" />
						Wes Carr
					</a>
				</div>

				<ul class="nav-menu">
					<li><a href="/web/">Web</a></li>
					<li><a href="/branding/">Branding</a></li>
					<li><a href="/research/">Research</a></li>
					<li><a href="/gift/">Gift</a></li>
				</ul>
			</nav>

		</header>

	<main id="main">