{% include '_head.liquid' %}

<article>

    <header class="content-header">
        {% assign tagPagePrefix = '/blog/tag/' %}
        {% if page.url contains tagPagePrefix %}
            <!-- <dl class="blog-tags">
                <dt>Tagged:</dt>
        
                {% for tag in tags %}
                    {% if tag != 'post' %}
    
                        <a href="/blog/tag/{{ tag }}">{{ tag | unslugify }}</a>
    
                    {% endif %}
                {% endfor %}

            </dl> -->
        {% endif %}

        <h1 class="content-heading">{{ title }}</h1>
        <p class="content-desc">{{ description }}</p>
        
        <!-- if it's a post, and not the blog or tag page, include a date  -->
        {% if date %}
        <ul class="metadata">
            <li><time class="meta-date" datetime="{{ date | postDate }}">Written: {{ date | postDate }}</time>
        
            {% if date-updated %}
                | <time class="meta-date" datetime="{{ date-updated | postDate }}">Updated: {{ date-updated | postDate }}</time>
            {% endif %}
            
            </li>

        </ul>
        {% endif %}
    
        <!-- if it's a trip report, include trip report metadata  -->
        {% if trips %}
                <!-- <li><a href="/blog/tag/{{ tag }}">Trip report</a></li> -->

            {% if trips.dateHiked %}
                <li>Date hiked: {{ trips.dateHiked | postDate }}</li>
            {% endif %}
            {% if trips.peaks %}
                <li>Peak{% if trips.peaks.size > 1 %}s{% endif %}: 
                    {% for peak in trips.peaks %}
                        {{ peak.name }} ({{ peak.elevation | formatElevation }}){% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </li>
            {% endif %}
            {% if trips.elevation %}
                <li>Elevation: {{ trips.elevation }}</li>
            {% endif %}
            {% if trips.distance %}
                <li>Distance: {{ trips.distance }}</li>
            {% endif %}
            {% if trips.temp %}
                <li>Temp at highest point: {{ trips.temp }}</li>
            {% endif %} 
            {% if location.town %}
                <li>Town: {{ location.town }}</li>
            {% endif %} 
            {% if location.state %}
                <li>State: {{ location.state }}</li>
            {% endif %} 
        {% endif %}

        {% if date %}
        

        {% endif %}


    </header>

    {{ content }}
</article>

<hr>
<section class ="post-footer">

    {% if tags %}

        {% assign tagPagePrefix = '/blog/tag/' %}
        {% unless page.url contains tagPagePrefix %}
            
            <dl class="blog-tags">
                <dt>Tagged:</dt>
                
                {% for tag in tags %}
                {% if tag != 'post' %}
                
                <a href="/blog/tag/{{ tag }}">{{ tag | unslugify }}</a>
                
                {% endif %}
                {% endfor %}
                
            </dl>
        {% endunless %}

    {% endif %}

    
          

    <nav class="posts-next-previous">

    {%- if collections.post %}

        {%- assign previousPost = collections.post | getPreviousCollectionItem %}
        {%- assign nextPost = collections.post | getNextCollectionItem %}

        {%- if nextPost or previousPost %}
            
                {%- if previousPost %}
                <p>
                    <span class="label-prevnext">Previously:</span>
                    <span class="title-prevnext"><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></span>
                </p>{%- endif %}
                {%- if nextPost %}
                <p>
                    <span class="label-prevnext">Next:</span>
                    <span class="title-prevnext"><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></span>
                </p>{%- endif %}
            </ul>
        {%- endif %}

    {%- endif %}

    </nav>

</section>

{% include '_foot.html' %}
