
  <p class="book-name"><strong><span class="book-title" itemprop="name">{{ book.title }}</span></strong> <span class="author">By <span itemprop="author">{{ book.author }}</span><span></p>
  <img src="{{ book.coverImage }}" alt="{{ book.title }} Cover" itemprop="image">
  <p><a class="external" href="{{ book.bestLink }}">Rearn more</a></p>
  <p class="book-genre" itemprop="genre">Genre: {{ book.genre }}</p> 
  <!-- <p itemprop="reviewBody">{{ book.blurb }}</p> -->
